.long-text-elipses {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
}

button[data-focus-visible="true"].data-\[focus-visible\=true\]\:outline-focus
{
    outline-color: transparent;
    opacity: 0.9;
    transform: scale(1.01);
}

.container-do-botao-de-acoes {
    justify-content: space-evenly;
}

[aria-selected="true"] svg.botao-de-acoes{
    color: hsl(var(--nextui-secondary) / var(--nextui-secondary-opacity, var(--tw-text-opacity)));
}